@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,400;0,700;1,400&display=swap');
@import "reset.scss";

* {
    font-family: 'MuseoModerno', cursive;
}

/* HEADER   HEADER   HEADER */

header {
    padding: 21px 0 93px 0;
    background: url('../images/header/header-bg.jpg') center (center/cover) no-repeat;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header__wrapper-menu {
    display: flex;
    justify-content: space-around;
}
.header__phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header__logo {
    width: 251px;
}
.header__logo img {
    width: 100%;
}
.header__description {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $text-color;
}
.header__phone {
    text-align: center;
}
.header__phone a {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: $text-color;
    margin-bottom: 4px;
}
.header__tittle {
    margin-top: 91px;
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
    color: $text-color;
    text-transform: uppercase;
}
.header__subtittle {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: $text-color;
    text-transform: uppercase;
}
.button {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    width: 153px;
    background-color: $button-color;
    border: none;
    color: $text-color;
    border-radius: 3px;
}
.header__wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
    padding-left: 20px;
}
.header__wrapper-icons {
    display: flex;
    gap: 40px;
}
.header__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 44px;
    
}
.header__img {
    width: 44px;  
    height: 44px;
}
.header__img img {
    width: 100%;
}
.header__text {
    margin-top: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: $text-color;
}
.button--heder-content {
    width: 303px;
    margin-top: 65px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}
.header__catalog {
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}
.header__catalog a {
    color: $text-color;
}
.header__catalog a:hover {
    text-decoration:underline;
}

/* ADVANTEGE   ADVANTEGE   ADVANTEGE */

.advantege {
    padding: 76px 0 80px 0;
}
.advantege h2 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    margin: 76px 0 62px 0;
}
.advantege__icons-wrapper {
    display: flex;
    gap: 66px;
    justify-content: center;
}

.advantege__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advantege__icon-img {
    width: 70px;
    height: auto;
}
.advantege__icon-img img {
    width: 100%;
}
.advantege__icon-subheader {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    margin: 30px 0 20px 0;
}
.advantege__icon-text {
    width: 270px;
    text-align: center;
    font-size: 16px;
}












@import "media.scss";


